$darkblue:#151e3b;
$whitecolor:#ffffffff;
$black:black;
$lightblue:#93bede;
$nexa-light:#293357;
$light-gray:#808080;
$dark-gray : #6f6060;
$blue:#1c7ee1;
$nave-blue:#161523c7;
$blue:#0173b2;
$light-black:#797c8500;
$light:#151422;

